.bar{
    fill: steelblue;
}

.bar:hover{
    fill: brown;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.rush_data {
	position: absolute;
	left: 25%;
}

tbody { 
	display: table-row-group;
	vertical-align: middle;
	border-color: #000;
	border-top: 1px solid #ccc;
}
