body {
  padding: 0;
  margin: 0;
  font-family: Verdana;
  font-size: 15px;
}

.tabs {
	position: inline-flex;
	left: 25%;
}

.info_ul {
	list-style: none;
	display: list-item;
}

.info_ul li {
	position: relative;
	display: inline-flex;
	padding: 50px 120px;
	cursor: pointer;
	background-color: #fff;
	color: #dcd9c8;
	transition: 0.3s;
}

.info_ul li:hover {
	background-color: #000;
	transition: 1.3s;
}

.info_ul li.focused {
	color: #fff;
	background-color: #000;
}

.parsing_data {
	position: relative;
	left: 20%;
}

#chart-block {
	display: block;
	width: 400px;
	height: 400px;
}

